body{
    font-family:'Battambang', sans-serif;
}
/*configurando caixa do login*/
.login{
    margin-left: 33%;
    padding: 30px;
    width: 200px;
    background-image: linear-gradient(#d8ffe9, #77e3a6);
    border-radius: 0.8rem;
    height: 470px;
    text-align: center;
}
.login img{
    width: 150px;
    height: auto;
}
.tudo{
    margin-top: 70px; 
    display : flex;
    flex-direction : row;
}
.tudo label{
    float: left;
}

.login2{
    margin-left: 10px;
    padding: 30px;
    width: 200px;
    background-image: linear-gradient(#c3edff, #5db1d5);
    border-radius: 0.8rem;
    height: 470px;
    text-align: center;
}

.login2 img{
    width: 150px;
    height: auto;
}

#caixinha{
    font-size: small;
}
#caixinha input{
    float: left;
}
#caixa input{
    width: 193px;
}
/*config botoes*/
#clientel{
    background-color:#ffffff;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-radius: 0.8rem;
    border-color: rgb(214, 214, 214);
    text-align: center;
    font-size: medium;
}
#colaborador{
    background-color:#ffffff;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-radius: 0.8rem;
    border-color: rgb(214, 214, 214);
    text-align: center;
    font-size: medium;
}
#esqueci{
    font-size: small;
    float: left;
}
#entrar{
    background-color:#ffffff;
    padding: 5px;
    text-align: center;
    font-size: small;
    width: 90px;
    float: right;
    border-radius: 0.8rem;
}
#cadastro{
    text-align: center;
    background-color:#ffffff;
    padding: 10px;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 3px rgb(144, 144, 144);
    text-align: center;
    font-size: medium;
    margin-top: 10px;
    margin-left: 33%;
    width: 510px;
}
#cadastro a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.login #entrar{
    margin-top: 59px;
}